name: CI API TESTS
on:
  push:
    branches: ['main']
jobs:
  tests: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
    - name: Install dependencies
      run: npm ci
    - name: Run api tests
      run: npm run api_tests
